html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* https://fonts.google.com/specimen/Kanit?selection.family=Kanit */
body {
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    background: #f2f2f2;
    color: #323232;
}
img {
    max-width: 100%;
}
.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}
a {
    color: #323232;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* ------------------------------------------------ */
/*                      PAPER                       */
/* ------------------------------------------------ */
.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* ------------------------------------------------ */
/*                  LINE SECTION                    */
/* ------------------------------------------------ */
section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgrey;
}
section:last-child {
    border-bottom: none;
}
.section-title {
    font-weight: bold;
    font-size: 18px;
}
/* ------------------------------------------------ */
/*                     MAIN INFO                    */
/* ------------------------------------------------ */
img.avatar {
    width: 130px;
}
.my-name {
    font-size: 48px;
    line-height: 1px;
    /* Padding | Inner gap between text and border */
    padding: 0px 0px 25px 0px;
    /* Margin | Outer gap between border and edge other element */
    /* margin: 0px px 25px 0px;  */
}
.my-title {
    font-size: 24px;
    font-weight: 200;
    color: #236fb2;
}
.links {
    display: flex;
    margin: 10px 0 20px 0;
}
.link-item {
    display: flex;
    align-items: center;
    flex: 1;
}
.link-item svg {
    margin-right: 6px;
}
/* ------------------------------------------------ */
/*                     EXPERIENCE                   */
/* ------------------------------------------------ */
.job {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgrey;
}
.job:last-child {
    border-bottom: none;
}
.job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}
.job-company {
    font-weight: bold;
    line-height: 1.2;
}
/* ------------------------------------------------ */
/*                     EDUCATION                    */
/* ------------------------------------------------ */
.educate {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgrey;
}
.educate:last-child {
    border-bottom: none;
}
.educate-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}
.university-name {
    font-weight: bold;
    line-height: 1.2;
}
/* ------------------------------------------------ */
/*                       SKILL                      */
/* ------------------------------------------------ */
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 24px;
}
.skills-container ul {
    margin-left: 20px;
    list-style-type: disc;
}
/* ------------------------------------------------ */
/*                       INTEREST                   */
/* ------------------------------------------------ */
.interests-container {
    display: flex;
    justify-content: space-between;
}
.interests-container img {
    height: 35px;
    opacity: 0.75;
}
/* ------------------------------------------------ */
/*                  REFERENCES                      */
/* ------------------------------------------------ */
.reference {
    font-size: 18px;
}
.reference-details {
    margin-bottom: 20px;
}
/* ------------------------------------------------ */
/*                  RESPONSIVE                      */
/* ------------------------------------------------ */
@media only screen and (max-width : 600px) {
    section {
        grid-template-columns: 1fr;
    }
    .links, .job-title-container {
        flex-direction: column;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
    .interests-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .interests-container img {
        margin-right: 32px;
        margin-bottom: 16px;
    }
    img.avatar {
        width: 260px;
    }
}
/* ------------------------------------------------ */
/*             CHANGED COLOR BUTTON                 */
/* ------------------------------------------------ */
.btn {
    background: none;
    border: 2px solid #000000;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    min-width: 100px;
    font-size: 10px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.btn:hover {
    color: #ffffff;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before {
    transform: scaleX(0);
}
.btn1:hover::before {
    transform: scaleX(1);
}
/* POSITION button .btn1 */
.btn1 {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%,-50%);
    padding: 5px;
    background: white;
}
/* ------------------------------------------------ */
/*             ADD OR DELETED MY SKILL              */
/* ------------------------------------------------ */

input#inputAdd {
    position: relative;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    transition: .5s;
}
input#inputAdd {
    background: whitesmoke;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
button#send {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 35px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #236fb2;
    color: #fff;
    font-size: 12px;
}
button#send:hover {
    background: #1a5181;
}
.list li {
    font-size: 15px;
}
